header {
  background-color: dodgerblue;
    color: white;
    text-align: right;
    font-size: xx-large;
}
img {
  width: 200px;
}
h2 {
  color: royalblue;
  font-size: x-large;
}
h3 {
  color: goldenrod;
  font-size: large;
}
span {
  color: darkblue;
}
dt {
  background-color: lightgray;
  color: white;
}


